# APP
DEBUG=${DEBUG}
HOST=${HOST}
PORT=${PORT}

SESSION_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_HTTPONLY=True

# SECURITY
SECRET_KEY=${SECRET_KEY}
JWT_SECRET=${JWT_SECRET}

# DATABASE
DATABASE_URL=mysql+pymysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:3306/lab_management

# GOOGLE
GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}

# PATH
LAB_TEMPLATES_PATH=/home/student/labtainer/trunk/labs
STUDENT_LABS_PATH=/home/student/labtainer/trunk/labs

# COMMANDS
ALLOWED_COMMANDS=["ls","cd","dir","cat","type","grep","find","pwd","whoami","python3","gcc","make","vim","nano","git","clear","echo","mkdir","findstr","python","javac","java","node","npm"]

# EMAIL
ALLOWED_EMAIL_REGEX=^.+@.+\.edu(\..+)?$

# LOG
LOG_DIR=logs
LOG_LEVEL=INFO
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5